<template name="roomUser">
  {{#if self}}
    <div class="room-user room-user-self">
      <div class="my-row">
        <div class="left">
          <p class="user-name"><span class="glyphicon glyphicon-user"></span> {{this}}</p>
          <small><span class="glyphicon glyphicon-star"></span> {{rank}}</small>
        </div>

        <div class="right">{{score}}</div>
      </div>
    </div>
  {{else}}
    <div class="room-user">
      <div class="my-row">
        <div class="left">
          <p class="user-name"><span class="glyphicon glyphicon-user"></span> {{this}}</p>
          <small><span class="glyphicon glyphicon-star"></span> {{rank}}</small>
        </div>

        <div class="right">{{score}}</div>
      </div>
    </div>
  {{/if}}
</template>
