/* Stylesheet */

@import url("http://fonts.googleapis.com/css?family=Press+Start+2P");

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

* {
  .border-radius(0px) !important;
}

body {
  background: Azure;
}

.clear {
  clear: Both;
}

/* Header */
.navbar-inner {
  .border-radius(0px);
}

header {
  margin-bottom: 0px !important;
}

.login-dropdown {
  min-height: 40px;
  line-height: 40px;

  a {
    text-decoration: none !important;
    color: #999999 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

    &:hover {
      color: #FFFFFF !important;
    }
  }
}

#login-dropdown-list {
  left: -150px;
  top: 35px;

  a {
    text-decoration: none !important;
    color: #0088CC !important;
    text-shadow: none;

    &:hover {
      color: #333333 !important;
    }
  }
}

/* Game Page */
#game {
  margin-bottom: 0px;
  height: 100%;

  h3 {
    padding-left: 30px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 14px;
    margin-top: 14px;
  }

  h4 {
  }
}

/* Room List */
#room-list {
  list-style: none;
  text-align: center;

  li {
    .border-radius(0px);
    background-color: AquaMarine;
    border: 2px solid DeepSkyBlue;
    padding-bottom: 8px;
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 2px;

    strong {
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.30);
    }

    .user-seq span {
      padding-right: 5px;
      border-right: 1px solid black;

      &:last-child {
        border-right: none;
      }
    }

    .join-button {
      margin-right: 10px;
    }
  }
}

#new-room {
  margin-top: 20px;
}

/* Game Room */
#editordiv {
  font-size: 14px;
}

.problem-statement {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 2%;
  margin-right: 2%;
  padding: 10px 15px 0px 15px;
  .border-radius(10px);
  background-color: AquaMarine;
  border: 1px solid DeepSkyBlue;><

  strong {
    font-size: 1.1em;
    padding-right: 10px;
  }
}

.code {
  .dropdown {
    float: left;
    margin-top: 10px;
  }

  form {
    float: right;
  }
}

#chat {
  font-size: 13px;

  .form-inline {
    .send-message {
      width: 98%;
      .border-radius(0px);
    }
  }

  .chat-wrapper {
    .border-radius(0px);
    overflow: auto;
    height: 360px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
    padding: 2%;
    background: White;

    p {
      margin-bottom: 5px;
      padding-top: 5px;
      margin-left: 5px;
      margin-right: 5px;
      border-top: 1px solid #CCCCCC;

      .chat-user {
        font-weight: bold;
        padding-right: 10px;
      }

      &:first-child {
        border: none;
      }
    }
  }
}

.user-list {
  .room-user {
    height: 50px;
    background-color: #bfbfbf !important;
    padding: 10px 10px 10px 10px;
    margin-bottom: 12px;

    .left {
      float: left;
      width: 50%;
      text-align: left;

      .user-name {
        font-weight: bold;
      }
    }

    .right {
      float: left;
      width: 50%;
      text-align: right;
      font-size: 32px;
      font-weight: bold;
      margin-top: 14px;
    }
  }

  .room-user-self {
    background-color: #E67E22 !important;
  }
}

.exit-button {
  text-align: center;
}

.room-title {
  margin-right: 20px;
}

.form-horizontal {
  text-align: center;
}

#introtextdiv {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 60%;
}

#introtextdiv p {
  margin-top: 20px;
  margin-bottom: 30px;
}

.room-list-header {
  padding-top: 50px !important;
}

#room-table {
  margin-left: auto;
  margin-right: auto;
  width: 60%;

  td, th {
    text-align: center;
    vertical-align: middle;

    &.players, &.join {
      width: 80px;
    }

    &.join {
      text-align: right;
    }

    &.room-name {
      text-align: left;
    }
  }
}

img {
  margin: auto;
  display: block;
}

#language-selection {
  margin-top: 10px;
}

.form-inline {
  margin-top: 10px;
}

#difficulty-selection{
  width: 100px;
}