/* Stylesheet */

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

html {
  min-height: 100%;
}

body {
  background: Azure;
}

#cover-page {
  background: url('http://i.imgur.com/7nLCIWg.png') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 52px;
  background: Azure;
  overflow: hidden;
  z-index: 1 !important;
}

/* Header */
.navbar {
  .border-radius(0px);
}

header {
  margin-bottom: 0px !important;
  z-index: 1000 !important;
}

#cbattles {
  color: #ffffff;
  text-shadow: 0 -2px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-top: 19%;

  hh1 {
    font-size: 6em;
    margin: 2em 0;
  }

  hh2 {
    font-size: 1.2em;
    margin: 10em 0;
  }
}

#login-wrapper {
  text-align: center;

  a {
    text-align: center;
    line-height: 50px;
    font-size: 2em;
    width: 200px;
  }
}

/* Game Page */
#game {
  margin-bottom: 0px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  min-height: 100%;

  h3 {
    padding-left: 30px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 14px;
    margin-top: 14px;
  }

  h4 {
  }
}

/* Room List */
#room-list {
  list-style: none;
  text-align: center;
  padding-left: 0px;

  li {
    .border-radius(0px);
    background-color: AquaMarine;
    border: 2px solid DeepSkyBlue;
    padding-bottom: 6px;
    padding-top: 10px;
    margin-bottom: 2px;

    strong {
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.30);
    }

    .user-seq span {
      padding-right: 5px;
      border-right: 1px solid black;

      &:last-child {
        border-right: none;
      }
    }

    .join-button {
      margin-right: 10px;
    }
  }
}

#new-room {
  margin-top: 20px;
}

#room-table {
  margin-left: auto;
  margin-right: auto;
  width: 60%;

  td, th {
    text-align: center;
    vertical-align: middle;

    &.players, &.join {
      width: 80px;
    }

    &.join {
      text-align: right;
    }

    &.room-name {
      text-align: left;
    }
  }
}

/* Game Room */
#editordiv {
  font-size: 14px;
}

.problem-statement {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 0%;
  margin-right: 2%;
  padding: 10px 15px 0px 15px;
  .border-radius(10px);
  background-color: AquaMarine;
  border: 1px solid DeepSkyBlue;

  strong {
    font-size: 1.1em;
    padding-right: 10px;
  }
}

#chat {
  font-size: 13px;

  .chat-wrapper {
    .border-radius(4px);
    overflow: auto;
    height: 360px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
    padding: 2%;
    background: White;

    p {
      margin-bottom: 5px;
      padding-top: 5px;
      margin-left: 5px;
      margin-right: 5px;
      border-top: 1px solid #CCCCCC;

      .chat-user {
        font-weight: bold;
        padding-right: 10px;
      }

      &:first-child {
        border: none;
      }
    }
  }
}

.user-list {
  .room-user {
    height: 48px;
    background-color: #bfbfbf !important;
    padding: 10px 10px 60px 10px;
    margin-bottom: 12px;

    .left {
      float: left;
      width: 50%;
      text-align: left;

      .user-name {
        font-weight: bold;
      }
    }

    .right {
      float: left;
      width: 50%;
      text-align: right;
      font-size: 32px;
      font-weight: bold;
      margin-top: 14px;
    }
  }

  .room-user-self {
    background-color: #E67E22 !important;
  }
}

.exit-button {
  text-align: center;
}

.room-title {
  margin-right: 20px;
}

.form-horizontal {
  text-align: center;
}

#language-selection {
  margin-top: 10px;
}

.form-inline {
  margin-top: 10px;
}

.alpha-title {
  color: red;
  font-size: 14px;
}
