<template name="roomCreate">
  <div id="new-room">
    <form class="form-inline text-center">
      <input name="title" type="text" value="" placeholder="Room Title" maxlength=25 autocomplete="off" class="form-control room-title"/>

      <select id="difficulty-selection" class="form-control room-title">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>

      <input type="submit" value="Create Room" class="btn btn-primary"/>
    </form>
  </div>
</template>
